* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", normal;
}

.d-none {
  display: none !important;
}

main{
  margin: 180px 200px 0px 348px;
  max-width: 1020px;
}