main{
    margin: 180px 200px 0px 348px;
    max-width: 1020px;
}

h1{
    font-size: 60px;
}

h4{
    font-size: 20px;
    font-weight: 400;
}

.frame{
    display: flex;
    flex-direction: column;
}

input{
    width: 440px;
    height: 48px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    padding: 0px 0px 0px 20px;
}

textarea{
    width: 440px;
    height: 120px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    padding: 18px 0px 0px 20px;
}

.addContent{
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.addBox{
    margin: 00px 0px 28px 0px;
    width: 440px;
}

.taskSeperator{
    width: 3px;
    height: 424px;
    background-color: rgb(209, 209, 209);
    margin: 0px 48px 0px 48px;
}

.prioRow{
    display: flex;
    justify-content: space-between;
}

.prioBox{
    width: 136px;
    height: 56px;
    background-color: white;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioBox:hover{
    cursor: pointer;
    box-shadow: 1px 3px 8px -3px rgba(0, 0, 0, 0.75);
}

.prioBox:active{
    color: white;
}

.urgent{
    padding: 0px 8px 0px 8px;
}

.urBox:active{
    background-color: rgb(255, 61, 0);
}

.urBox.active img{
    content: url(/assets/img/png/prio-urgent-white-at.png);
}

.medium{
    padding: 0px 8px 0px 8px;
}

.miBox.active img{
    content: url(/assets/img/png/prio-medium-white-at.png);
}

.low{
    padding: 0px 8px 0px 8px;
}

.loBox.active img{
    content: url(/assets/img/png/prio-low-white-at.png);
}

.prioBox.active {
    color: white;
}
  
.urBox.active {
    background-color: rgb(255, 61, 0);
}
  
.miBox.active {
    background-color: rgb(255, 168, 0);
}
  
.loBox.active {
    background-color: rgb(122, 226, 41);
}

.inputIcon{
    width: 8px;
    height: 5px;
}

.assigned{
    appearance: none;
    background: url(/assets/img/png/arrow_drop_down.png) no-repeat right;
    background-size: 7px;
    background-position: calc(100% - 24px) center; 
    width: 440px;
    height: 48px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0px 0px 20px;
}

.category{
    appearance: none;
    background: url(/assets/img/png/arrow_drop_down.png) no-repeat right;
    background-size: 7px;
    background-position: calc(100% - 24px) center; 
    width: 440px;
    height: 48px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0px 0px 20px;
}

option{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

option:hover{
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}

.category:hover{
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    cursor: pointer;
 }
  
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}
  
.dropdownContent {
    width: 440px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 136px 0px 0px 0px;
    border-radius: 10px;
}
  
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropRow{
    height: 48px;
    display: flex;
    align-items: center;
}

.dropRow:hover{
    border-radius: 10px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.addTaskFooter{
    display: flex;
    justify-content: space-between;
}

.footerBtnRow{
    display: flex;
}

.buttonBox{
    margin: 0px 0px 0px 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    transition-delay: 0.1s;
}

.buttonBoxIcon{
    margin: 0px 0px 0px 4px;
    width: 12px;
    transition-delay: 0.1s;
}

.rejectIcon{
    width: 24px;
    display: flex;
    justify-content: center;
}

.reject{
    width: 12px;
}

.check{
    width: 24px;
}

.create{
    background-color: #2A3647;
    color: white;
}

.create:hover{
    cursor: pointer;
    background-color: rgb(41, 171, 226);
    box-shadow: 1px 3px 8px -3px rgba(0, 0, 0, 0.75);
}

.clear{
    color: #2A3647;
    border: solid 1px #2A3647;
    transition-delay: 0.1s;
}

.clear:hover{
    cursor: pointer;
    border: solid 1px rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    box-shadow: 1px 3px 8px -3px rgba(0, 0, 0, 0.75);
}

.clear:hover img{
    width: 24px;
    content: url(/assets/img/png/clear-button-lightblue.png);
}

.required:before{
    content:"* ";
    color: red;

  }

  